body {
  overflow-x: hidden;
  outline: 0; }
  body #menu-topo {
    position: sticky;
    top: 0;
    background: #230e14;
    z-index: 999; }
    body #menu-topo #logo-principal {
      width: 80px; }
    body #menu-topo #hamburguer {
      color: #fff;
      font-size: 20px; }
    body #menu-topo h2 {
      color: #fff; }
    body #menu-topo nav li a {
      color: #fff;
      font-style: italic;
      transition: all 0.6s ease; }
      body #menu-topo nav li a:hover, body #menu-topo nav li a:active, body #menu-topo nav li a:focus {
        text-decoration: underline !important;
        color: #ffb128;
        transform: scale(1.1); }
    body #menu-topo #dropdown-topo .dropdown-menu a {
      transition: none;
      transform: none; }
    body #menu-topo a.icones-menu:hover {
      text-decoration: none; }
    body #menu-topo a.icones-menu i {
      font-size: 23px;
      color: #fff; }
      body #menu-topo a.icones-menu i:hover {
        color: #ffb128; }
  body header {
    background-image: url("../_img/games/banner.png");
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    body header .background-image {
      position: absolute;
      height: 460px;
      width: 100%;
      background-color: #2c1608;
      opacity: .5; }
  body #login a {
    color: #3f1420;
    text-decoration: underline; }
    body #login a#esqueci-senha {
      font-size: 12px; }
  body #contato i {
    font-size: 40px; }
    body #contato i#whats {
      color: #25D366; }
    body #contato i#email {
      color: #ccc; }
  body #carrinho .item-carrinho {
    position: relative;
    height: 0;
    padding-bottom: 100%; }
    body #carrinho .item-carrinho img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  body main #icones-center {
    height: 350px; }
    body main #icones-center i {
      font-size: 50px;
      color: #880000; }
    body main #icones-center span {
      color: #999; }
  body main #mais-vendidos {
    border-radius: 10px;
    background: #7e0000; }
    body main #mais-vendidos span {
      color: #fff;
      font-size: 17px;
      font-weight: 600; }
  body main #lancamentos {
    border-radius: 10px;
    background: #ffb128; }
    body main #lancamentos span {
      color: #000;
      font-size: 17px;
      font-weight: 600; }
  body main #logo-pag-games {
    width: 100px; }
  body main .games .games-item {
    position: relative;
    padding-bottom: 70%;
    height: 0; }
    body main .games .games-item a {
      color: #000; }
      body main .games .games-item a img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: fill;
        width: 100%;
        height: 100%; }
  body footer {
    background: #4f555a; }
    body footer h5 {
      color: #fff; }
    body footer span, body footer p {
      color: #fff; }
    body footer #redes-sociais i {
      font-size: 25px;
      width: 40px;
      border-radius: 12px;
      padding: 7px 0px;
      color: #fff; }
      body footer #redes-sociais i#face {
        background: #3b5998; }
      body footer #redes-sociais i#insta {
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #f00, #ff0); }

.item-modal {
  position: relative;
  height: 0;
  padding-bottom: 70%; }
  .item-modal img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; }
