@import 'variaveis';

body{
    overflow-x: hidden;
    outline: 0;

    #menu-topo{
        position: sticky;
        top: 0;
        background: $cor-vinho-2;
        z-index: 999;

        #logo-principal{
            width: 80px;
        }

        #hamburguer{
            color: $cor-branco;
            font-size: 20px;
        }

        h2{
            color: $cor-branco;
        }
    
        nav{
            li{
                a{
                    color: $cor-branco;
                    font-style: italic;
                    transition: all 0.6s ease;
    
                    &:hover, &:active, &:focus{
                        text-decoration: underline !important;
                        color: $cor-amarelo;
                        transform: scale(1.1);
                    }

                }
            }
        }
        
        #dropdown-topo{
            .dropdown-menu{
                a{
                    transition: none;
                    transform: none;
                }
            }
        }

        a.icones-menu{
            &:hover{
                text-decoration: none;
            }
            
            i{
                font-size: 23px;
                color: $cor-branco;

                &:hover{
                    color: $cor-amarelo;
                }
            }
        }
    }

    header{
        background-image: url("../_img/games/banner.png");
        height: 460px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    
        .background-image{
            position: absolute;
            height: 460px;
            width: 100%;
            background-color: #2c1608;
            opacity: .5;
        }
    }

    #login{
        a{
            color: $cor-vinho;
            text-decoration: underline;

            &#esqueci-senha{
                font-size: 12px;
            }
        }
    }

    #contato{
        i{
            font-size: 40px;

            &#whats{
                color: $cor-verde;
            }

            &#email{
                color: $cor-cinza-2;
            }
        }
    }

    #carrinho{
        .item-carrinho{
            position: relative;
            height: 0;
            padding-bottom: 100%;

            img{
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    main{
        #icones-center{
            height: 350px;

            i{
                font-size: 50px;
                color: #880000;
            }
        
            span{
                color: $cor-cinza;
            }
        }

        #mais-vendidos{
            border-radius: 10px;
            background: #7e0000;

            span{
                color: $cor-branco;
                font-size: 17px;
                font-weight: 600;            
            }
        }

        #lancamentos{
            border-radius: 10px;
            background: $cor-amarelo;

            span{
                color: $cor-preto;
                font-size: 17px;
                font-weight: 600;            
            }
        }

        #logo-pag-games{
            width: 100px;
        }

        .games{
            .games-item{
                position: relative;
                padding-bottom: 70%;
                height: 0;

                a{
                    color: $cor-preto;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: fill;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        
    }

    footer{
        background: #4f555a;

        h5{
            color: $cor-branco;
        }

        span, p{
            color: $cor-branco;
        }

        #redes-sociais{
            i{
                font-size: 25px;
                width: 40px;
                border-radius: 12px;
                padding: 7px 0px;
                color: $cor-branco;

                &#face{
                    background: #3b5998;
                }

                &#insta{
                    background: linear-gradient( #400080, transparent), linear-gradient( 200deg, #d047d1, #f00, #ff0);
                }
            }
        }
    }
}

.item-modal{
    position: relative;
    height: 0;
    padding-bottom: 70%;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
